{% extends 'tienda/index.html' %}

{% block title %}
  🛒 Pedidos
{% endblock %}
{% block content %}
  <h1>Pedidos</h1>
  {% for p in pedidos %}
    <div class="pokemon">
      <a href="{% url 'tienda:order_detail' p.id %}">Pedido # {{ p.id }}</a>
      <br>
      <a href="{% url 'tienda:detalle_cliente' p.cliente.id %}">
        Cliente: {{ p.cliente.nombre }}
      </a>
      - Estado: {{ p.estado }}
      - Fecha: {{ p.fecha|date:'d/m/Y' }}
      - Productos: {{ p.total_pokemons.count }}
    </div>
  {% empty %}
    <div class="pokemon">
        No hay pedidos aún
    </div>
  {% endfor %}
{% endblock %}
