{% extends 'tienda/index.html' %}

{% block title %}
  🛒 Pedido # {{ pedido.id }}
{% endblock %}
{% block content %}
  <h1>🛒 Tu pedido pokemon esta {{ pedido.estado }}</h1>
  <h2>Pedido de {{ pedido.cliente.nombre }}</h2>
  {% if items %}
    <table>
      <thead>
        <tr>
          <th class="encabezado">Pokemon</th>
          <th class="encabezado">Cantidad</th>
          <th class="encabezado">Precio Unitario</th>
          <th class="encabezado">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.pokemon.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>${{ item.precio_unitario }}</td>
            <td>${{ item.subtotal }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Total: ${{ total_pedido }}</h3>
    <a href="{% url 'tienda:edit_order' pk=pedido.pk %}">Editar</a>
    <a href="{% url 'tienda:' %}"></a>
    <br>
  {% else %}
    <p>Este pedido no tiene items aún.</p>
  {% endif %}
  <a href="{% url 'tienda:list_pedido' %}">Volver a la lista de pedidos</a>
{% endblock %}
