{% extends 'tienda/index.html' %}

{% block title %}
  🛒 Pokemons
{% endblock %}
{% block content %}
  <h1>🛒 Tienda Pokémon</h1>
  {% for pokemon in pokemons %}
    <div class="pokemon">
      <h3>{{ pokemon.nombre }}</h3>
      <img src="{{ pokemon.imagen }}" alt="{{ pokemon.nombre }}" />
      <br>
      {% comment %} <p>Precio: ${{ pokemon.precio }}</p> {% endcomment %}
      <button><a href="/pokemons/{{ pokemon.pk }}">
        Detalles
      </a> 
    </button>
    </div>
  {% endfor %}
{% endblock %}
